/* 
   Buk: board-like presentation tool
   Oleksandr Bystrikov, 2013
*/

/* == Normalization == */

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:focus,
a:active {
    outline: 0 none !important;
}

/* == Clearfix == */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* == Biosphere == */

.buk-atmosphere {
    background: #038C73;
    min-height: 100%;
}

.buk-lithosphere {
    position: relative;
}

.buk-board {
    padding: 1px 5%;
    color: #FFFFFF;
}

.buk-board-2 {
    float: left;
    width: 45%;
}

.buk-board-title {
   
}

.buk-board-sub {
    
}

.buk-board-content {

}

.buk-board-extra {
    padding: 10px 0 0 0;
    border-top: 1px solid #F2F1EB;
    font-size: 12px;
}

/* == Sidebar menu == */

.buk-menu {
    position: fixed;
    left: -240px;
    top: 0;
    width: 300px;
    padding: 1em 2em 2em 2em;
    z-index: 5;
}

.buk-menu-gate {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 60px;
    height: auto;
    padding: 1em;
}

.buk-menu-bar {
    display: block;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 7px;
    background: #ffffff;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.08);
    transition: transform 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}

.buk-menu-expanded {
    background: #D8D9C1;
    left: 0;
    color: #038C73;
    -moz-box-shadow:    2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow:         2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.buk-menu-expanded .buk-menu-gate {
    right: 5px;
}

.buk-menu-expanded .buk-menu-bar:nth-child(1) {
    -moz-box-shadow:    -2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         -2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform:  translate(4px, 12px) rotate(-45deg);
    -moz-transform:     translate(4px, 12px) rotate(-45deg);
    -ms-transform:      translate(4px, 12px) rotate(-45deg);
    -o-transform:       translate(4px, 12px) rotate(-45deg);
    transform:          translate(4px, 12px) rotate(-45deg);
}

.buk-menu-expanded .buk-menu-bar:nth-child(2) {
    -moz-box-shadow:    2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform:  translateX(4px) rotate(45deg);
    -moz-transform:     translateX(4px) rotate(45deg);
    -ms-transform:      translateX(4px) rotate(45deg);
    -o-transform:       translateX(4px) rotate(45deg);
    transform:          translateX(4px) rotate(45deg);
}

.buk-menu-expanded .buk-menu-bar:nth-child(3) {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    -webkit-transform:  translate(4px, -12px) rotate(-45deg);
    -moz-transform:     translate(4px, -12px) rotate(-45deg);
    -ms-transform:      translate(4px, -12px) rotate(-45deg);
    -o-transform:       translate(4px, -12px) rotate(-45deg);
    transform:          translate(4px, -12px) rotate(-45deg);
}

.buk-menu-index {
    display: none;
    margin: 13px 0 0 0;
    padding: 0;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
}

.buk-menu-expanded > .buk-menu-index {
    display: block;
}

.buk-menu-index a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #F2F1EB;
    color: #038C73;
    text-decoration: none;
    border-radius: .3em; 
}

.buk-menu-index a:hover {
    color: #025950;
}

.buk-menu-index a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1em;
    top: 50%;
    margin-top: -1em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

/* == Space navigation == */

.buk-to {
    display: block;
    position: fixed;
    width: 4%;
    height: 100%;
    bottom: 0;
    color: #D8D9C1;
    z-index: 4;
}

.buk-to:hover,
.buk-to:active,
.buk-to:focus {
    color: #F2F1EB;
}

.buk-to i {
    font-size: 24px;
    top: 50%;
    margin-top: -12px;
}

.alpha {
    left: 0;
}

.omega {
    right: 0;
    text-align: right;
}

.alpha i {
    left: 50%;
    margin-left: -12px;
}

.omega i {
    right: 50%;
}