/* 
   Buk: board-like presentation tool
   Oleksandr Bystrikov, 2013
*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.parent {
    border: 1px solid red;
}

.mv-left {
    float: left;
}