/* 
   Buk: board-like presentation tool
   Oleksandr Bystrikov, 2013
*/

/* == Normalization == */

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:focus,
a:active {
    outline: 0 none !important;
}

/* == Clearfix == */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* == Biosphere == */

.buk-atmosphere {
    background: #025f4e;
    height: 100%;
    min-height: 100%;
    margin-right: 16px;
    overflow: auto;
}

.buk-board {
    padding: 1px 6% 35px;
    color: #FFFFFF;
}

.buk-board-2 {
    float: left;
    width: 45%;
}

.buk-board-title {
   
}

.buk-board-sub {

}

.buk-board-content {

}

.buk-board-extra {
    padding: 10px 0 0 0;
    border-top: 1px solid #F2F1EB;
    font-size: 12px;
}

/* == Sidebar menu == */

.buk-menu {
    position: fixed;
    left: -240px;
    top: 0;
    width: 300px;
    padding: 12px 0 0 0;
    z-index: 5;
}

.buk-menu-gate {
    position: absolute;
    top: 26px;
    right: 0;
    display: block;
    width: 36px;
    height: auto;
}

.buk-menu-bar {
    display: block;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 7px;
    background: #ffffff;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.08);
    transition: transform 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}

.buk-menu-expanded {
    background: #D8D9C1;
    left: 0;
    bottom: 0;
    color: #038C73;
    -moz-box-shadow:    2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow:         2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.buk-menu-expanded .buk-menu-hwrap,
.buk-menu-expanded .buk-menu-iwrap {
    padding: 0 15px 0 20px;
}

.buk-menu-expanded .buk-menu-gate {
    right: 25px;
}

.buk-menu-expanded .buk-menu-bar:nth-child(1) {
    -moz-box-shadow:    -2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         -2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform:  translate(4px, 12px) rotate(-45deg);
    -moz-transform:     translate(4px, 12px) rotate(-45deg);
    -ms-transform:      translate(4px, 12px) rotate(-45deg);
    -o-transform:       translate(4px, 12px) rotate(-45deg);
    transform:          translate(4px, 12px) rotate(-45deg);
}

.buk-menu-expanded .buk-menu-bar:nth-child(2) {
    -moz-box-shadow:    2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow:         2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform:  translateX(4px) rotate(45deg);
    -moz-transform:     translateX(4px) rotate(45deg);
    -ms-transform:      translateX(4px) rotate(45deg);
    -o-transform:       translateX(4px) rotate(45deg);
    transform:          translateX(4px) rotate(45deg);
}

.buk-menu-expanded .buk-menu-bar:nth-child(3) {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    -webkit-transform:  translate(4px, -12px) rotate(-45deg);
    -moz-transform:     translate(4px, -12px) rotate(-45deg);
    -ms-transform:      translate(4px, -12px) rotate(-45deg);
    -o-transform:       translate(4px, -12px) rotate(-45deg);
    transform:          translate(4px, -12px) rotate(-45deg);
}

.buk-menu-iwrap {
    height: 85%;
    max-height: 85%;
    overflow-y: auto;
}

.buk-menu-index {
    display: none;
    margin: 0;
    padding: 0;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
}

.buk-menu-expanded .buk-menu-index {
    display: block;
}

.buk-menu-index a {
    position: relative;
    display: block;
    padding: 4px 4px 4px 28px;
    *padding: 4px;
    margin: 7px 0;
    background: #FFFFFF;
    color: #038C73;
    text-decoration: none;
    border-radius: 2px; 
}

.buk-menu-index a:hover,
.buk-menu-index a.current {
    color: #025950;
}

.buk-menu-index a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -12px;
    top: 50%;
    margin-top: -14px;
    background: #FFFFFF;
    height: 28px;
    width: 28px;
    font-size: 13px;
    line-height: 24px;
    border: 2px solid #038C73;
    text-align: center;
    border-radius: 28px;
}

.buk-menu-index a.current:before,
.buk-menu-index a:hover:before {
    background: #038C73;
    color: #FFFFFF;
}

/* == L-R navigation == */

.buk-to {
    display: block;
    position: fixed;
    width: 4%;
    height: 100%;
    bottom: 0;
    color: #D8D9C1;
    z-index: 4;
}

.buk-to:hover,
.buk-to:active,
.buk-to:focus {
    color: #FFFFFF;
}

.buk-to i {
    font-size: 24px;
    top: 50%;
    margin-top: -12px;
}

.alpha {
    left: 0;
}

.omega {
    right: 0;
}

.alpha i {
    left: 50%;
}

.omega i {
    left: 0;
}

/* == Bottom navigation == */

.buk-navi {
    position: fixed;
    bottom: 8px;
    left: 50%;
    width: 44px;
    height: 32px;
    margin: 0 0 0 -20px;
    overflow: hidden;
    z-index: 2;  
}

.buk-navi:after {
    content: " ";
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    width: 44px;
    height: 44px;
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -ms-transform:      rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
    background-color: #FFFFFF;
    border: 2px solid #025950;
    z-index: 2;
}

.buk-navi-inner:after {
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 34px;
    border-top: 3px solid #025950;
    border-bottom: 3px solid #025950;
    z-index: 3;
}

.buk-navi-inner:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 44px;
    height: 17px;
    margin-top: -8px;
    border-left: 2px solid #025950;
    border-right: 2px solid #025950;
    z-index: 3;
}

.buk-navi-enter {
    position: absolute;
    width: 44px;
    height: 32px;
    padding: 6px 12px;
    line-height: 18px;
    text-align: center;
    border: none;
    background: transparent;
    z-index: 4;
}

.buk-navi-enter:focus {
    border: none;
    outline: none;
}

/* == Frame == */

.buk-frame {
    position: fixed;
}

.buk-frame-t,
.buk-frame-b {
    width: 100%;
    height: 16px;
    background: url("../img/side-tb.jpg") repeat-x;
    border-top: 1px solid #9C7350;
    border-bottom: 1px solid #9C7350;
    z-index: 1;
}

.buk-frame-t {
    top: 0px;
}

.buk-frame-b {
    bottom: 0px;
    background-position: 0 100%;
}

.buk-frame-r,
.buk-frame-l {
    width: 16px;
    height: 100%;
    top: 0;
    background: url("../img/side-lr.jpg") repeat-y;
    border: 1px solid #9C7350;
    z-index: 2;
}

.buk-frame-l {
    left: 0;
}

.buk-frame-r {
    right: 0;
    background-position: 100% 0;
}

.buk-frame-r:before,
.buk-frame-r:after,
.buk-frame-l:before,
.buk-frame-l:after {
    content: " ";
    display: block;
    position: fixed;
    width: 15px;
    height: 15px;
    background: url("../img/corner.png") no-repeat;
    z-index: 3;
}

.buk-frame-r:before {
    top: 1px;
    right: 1px;
    background-position: -14px 0;
}

.buk-frame-r:after {
    bottom: 0;
    right: 1px;
    background-position: -14px -14px;
}

.buk-frame-l:before {
    top: 1px;
    left: 1px;
    background-position: 0 0;
}

.buk-frame-l:after {
    bottom: 0;
    left: 1px;
    background-position: 0 -14px;
}

/* == Content related  == */

.buk-image.pull-left {
    margin: 0 20px 20px 0;
}

/* == Adaptive design == */

@media (max-width: 979px) {
    .buk-board {
        padding-left: 60px;
    }

    .buk-menu {
        width: 290px;
    }

    .buk-menu-gate {
        width: 26px;
    }
}